html, body
    height: 100%


.container
    margin: 0 auto
    margin-top: 100px
    position: absolute
    left: 0
    right: 0


.header
    margin: auto
    font-size: 7vw
    font-weight: 200


.description
    font-size: 3.5vw
    line-height: 2


.btn-random
    width: 50vw
    height: 8vw
    margin: 0
    padding:
        left: 4vw
        right: 4vw
    font-size: 3vw


.content
    margin-bottom: 100px
    margin-top: 3vw


.content-box
    max-height: 80%
    max-width: 70%
    background-color: white
    text-align: left
    padding: 15px 20px 10px 20px
    margin: auto auto 3vw
    left: 0
    right: 0
    bottom: 0


.content-box__title
    color: red
    font-weight: 300
    font-size: 4vw
    margin: auto


.content-box__url
    font-weight: 100
    font-size: 2vw
    margin: auto


.content-box__desc
    font-weight: 200
    font-size: 2.5vw
    margin: auto


.footer
    width: 100%
    max-width: 100%
    height: 6.5vw
    bottom: 0
    padding: 0
    margin: 0 auto
    position: fixed
    background: white
    font-weight: 100
    font-size: 2vw


@media screen and (min-width: 600px)
    .container
        margin: 80px auto 0
        position: absolute
        left: 0
        right: 0

    .header
        margin: auto
        font-size: 36px
        font-weight: 200


    .description
        font-size: 20px
        line-height: 2


    .btn-random
        height: 48px
        width: 300px
        margin: 0
        padding: 0 24px 0 24px !important
        font-size: 18px


    .content-box
        max-height: 80%
        max-width: 70%
        background-color: white
        text-align: left
        padding: 15px 20px 10px 20px
        margin: auto auto 20px
        left: 0
        right: 0
        bottom: 0


    .content-box__title
        color: red
        font-weight: 300
        font-size: 28px
        margin: auto


    .content-box__url
        font-weight: 100
        font-size: 14px
        margin: auto


    .content-box__desc
        font-weight: 200
        font-size: 16px
        margin: auto


    .footer
        width: 100%
        max-width: 100%
        height: 40px
        bottom: 0
        padding: 0
        margin: 0 auto
        position: fixed
        background: white
        font-weight: 100
        font-size: 12px

@media screen and (max-width: 420px)

    .btn-random
        width: 60vw
        height: 5vh
        margin: 0
        font-size: 3vw
